<!-- footer -->
    <footer class="site-footer">
      <div class="footer-inner">
        <div class="footer-links">
          <a href="#">이용약관</a> | 
          <a href="#">개인정보처리방침</a> | 
          <a href="#">FAQ</a> | 
          <a href="#">기업회원 비밀번호 초기화</a>
        </div>
        <div class="footer-info">
          <p>상호 : ㈜이테시스   |   대표전화 : 02-533-6311</p>
          <p>대표 : 안현자   |   사업자등록번호 :  108-81-79912  |   주소 : 서울특별시 서초대로 방배천로2길 15, 5층 (방배동, 오륜빌딩)</p>
          <p>통신판매업 신고번호: 2017-서울서초-0831  |   직업정보제공사업 신고번호 : 서울청 제 2024 – 5호</p>
          <p>All rights reserved.</p>
        </div>
      </div>
    </footer>