<header class="subdomain-header">
    <div id="header">
        <div class="headInner">
            <h1 class="companyLogo">
                <a href="index.html">
                    <img src="assets/img/ssyong.png" alt="기업 로고" />
                </a>
            </h1>

            <div class="search subSearch" id="searchWrap">
                <span class="search-icon">
                    <img src="/assets/img/search_icon.png" width="20" alt="" />
                </span>
                <input type="text" placeholder="공고제목, 지역, 직무, 단지명 입력해주세요." />
            </div>

            <div class="etesys"></div>
        </div>

        <div id="headNavBar">
            <div class="aptNavArea">
                <ul class="serviceNav">
                    <li><a href="#" class="navItem subNavItem">소장채용</a></li>
                    <li><a href="#" class="navItem subNavItem">전체공고</a></li>
                    <li><a href="#" class="navItem subNavItem">채용절차</a></li>
                    <li><a href="#" class="navItem subNavItem">기업소개</a></li>
                    <li><a href="#" class="navItem subNavItem">기업 공지사항</a></li>
                </ul>

                <!-- 서브도메인 회원 메뉴 -->
                <div id="subUserMenu" class="userNav subUserNav">
                    <ul class="userNav subUserNav-list">
                        <li class="subUserNav-item subUserNav-guest">
                            <a href="#" class="userNav-item subUserNav-link">회원가입</a>
                        </li>

                        <li class="subUserNav-item subUserNav-member" style="display: none;">
                            <a href="#" class="userNav-item subUserNav-link">마이페이지</a>
                        </li>

                        <li class="subUserNav-item subUserNav-guest">
                            <a href="./login.html" class="userNav-item subUserNav-link login">로그인</a>
                        </li>

                        <li class="subUserNav-item subUserNav-member" style="display: none;">
                            <a href="#" class="userNav-item subUserNav-link logout">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>