section {
    scroll-margin-top: 160px;
}
.subdomain-header {
    position: fixed;
}
.subdomain-header .headInner {
    justify-content: flex-start !important;
}
.companyLogo {
    width: 200px !important;
    text-align: center;
}
.companyLogo img {
    height: 44px;
}
.subSearch input {
    border: 1px solid #b5b5b5 !important;
    border-radius: 90px !important;
}
.subdomain-header .aptNavArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.subNavItem {
    color: #838383 !important;
    font-weight: normal !important;
}
.subNavItem:hover {
    color: #334155 !important;
    font-weight: 600 !important;
}
.subUserNav-link {
    display: block;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color: #64748b;
}

/* 로그인 */
.subUserNav-link.login {
    background-color: #334155;
}

/* 로그아웃 */
.subUserNav-link.logout {
    background-color: #334155;
}

/* 기업 배너 */
.companyBanner {
    margin-top: 160px;
}

.companyBanner img {
    width: 100%;
}

/* 소장 채용 카드 */
.subDirector-card {
    border: 1px solid #d2d2d2 !important;
    height: 182px;
}
.subDirector-card .director-card__company {
    color: #64748b !important;
}
.subDirector-card .director-card__title {
    color: #2d3748;
}
.subDirector-card .director-card__detail {
    background-color: #334155;
}
.director-card--empty.subDirector-card {
    transform: none;
    box-shadow: none;
}
.subDirector-card .director-card__empty {
    display: flex;
    align-items: center;
}
.subDirector-card .director-card__empty img {
    height: 45px;
}
.subDirector-card .job-card__empty-text {
    font-weight: normal !important;
    font-size: 1rem;
    margin-top: 5px;
}

/* 전체 공고 */
.subJob-table thead th {
    border-top: 1px solid #64748b !important;
    border-bottom: 1px solid #64748b;
    background-color: #f4f4f4;
}
.subJob-table .btn-apply {
    background-color: #334155 !important;
}

/* 페이지네이션 */
.subJob-pagination .page-link {
    color: #334155 !important;
}
.subJob-pagination .page-item.active .page-link {
    background-color: #64748b !important;
    border: none;
}
.subJob-pagination .page-item .page-link:hover {
    border: 1px solid #64748b;
    background-color: #f1f1f1;
}

/* 기업 소개글 */
.subJob-company-desc {
    font-weight: normal;
    font-size: 1rem;
}

/* 기업 공지글 */
.subJob-table .board-row:hover {
    background-color: #fff;
}

.subCompanyHomepage {
    margin-top: 20px;
    text-align: center;
}

.subCompanyHomepage-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    height: 60px;
    padding: 0 10px;
    border: none;
    border-radius: 8px;
    background: #334155;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.subCompanyHomepage-btn:hover {
    opacity: 0.9;
}

/* =========================
   🔹 FOOTER
========================= */
.footer-info-panel {
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    font-size: 13px;
    color: #777;
    line-height: 1.7;
    transition:
        max-height 0.3s ease,
        margin-top 0.3s ease,
        opacity 0.3s ease;
    opacity: 0;
}

.footer-info-panel.show {
    max-height: 200px;
    margin-top: 15px;
    opacity: 1;
}

.footer-info-panel p {
    font-size: 0.9rem;
    list-style: 1.8;
}
.footer-arrow {
    font-size: 0.7rem;
}

/* 검색페이지 - default.html */
.subJobListHeader-title {
    margin-bottom: 10px;
}
.subSearchResult {
    display: flex;
    align-items: center;
    gap: 12px;
}

.subSearchResult-label {
    font-size: 18px;
    font-weight: 700;
    color: #4b5563;
    white-space: nowrap;
}

.subSearchResult-keyword {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;  
    flex-wrap: wrap;
    gap: 10px;
}

.subSearchResult-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 35px;
    padding: 0 18px;
    background: #d9dee6;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 600;
    color: #4b5563;
}
.subFooter-service-text {
    float: right;
    font-size: 14px;
    color: #777;
}

/* 상세페이지 */
.subRecruitDetail {
    margin-top: 180px !important;
}
.subRecruitDetail .job-summary {
    border-top-color: #334155 !important;
}
.subRecruitDetail .nav-tabs .nav-link.active {
    color: #334155 !important;
    background-color: #fff !important;
}
.subRecruitDetail .nav-tabs .nav-link {
    background-color: #334155 !important;
    color: #fff;
}
.subRecruitDetail .job-action-apply {
    background-color: #334155 !important;
}

/* 서브 도매인 로그인 */
.subCompany-logo {
    height: 73px;
}
.subLogin-notice {
    font-size: 15px;
    text-align: center;
    color: #777;
    margin-top: 30px;
}
.subLogin-company-name {
    font-size: 16px;
    color: #2d3748;
    font-weight: 700;
}